@model trial1.Models.Kirim

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Kirim</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.KaryawanNIK)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.KaryawanNIK)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Truck)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Truck.ID)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.KirimID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
